#login{
	background-image: url('images/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin:0px;
	width:100vw;
	height:100vh;
	overflow:auto;
}

.section-title{
	background-color: #0a769173;
	margin-top: 30px;
}

footer{
	background-color: black;
	color: white;
	padding: 1rem;
	margin-top: 96px;
}

p > a{
	color: aliceblue;
	text-decoration: none;
}

p > a:hover{
	color: orange;
}

.services-card:hover{
	background-color: aquamarine;
}

#header{
	background-color: rgba(18, 79, 107, 0.575);
	padding: 2rem;
	border-radius: 3px;
}